# Maven build target
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle build folder
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper jar
.mvn/wrapper/maven-wrapper.jar

# Environment files and database secrets
.env
.env.local

# Logs
logs/
*.log

# STS / Eclipse project files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code config
.vscode/

# System-specific files
.DS_Store
Thumbs.db
